* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header {
	display: block;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 33vh;
	right: 0;
  background-color: #1f4188;
  transition: 0.5s;
}
.columns li p{
  background-color: #355493;
  padding-top: 9px;
  padding-bottom: 9px;
}
.columns li p:hover{
  background-color: #1b3a7a;
}
.image-avatar {
    padding: 2em;
    border-radius: 100%;
    width: 50%;
}
h3 {
  color: #7e8496;
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.programmer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 170%;
  text-align: center;
  color: #ffffff;
}

.italics {
  margin-top: 2em;
  font-style: italic;
  font-family: 'Cairo', sans-serif;
  font-size: 70%;
  text-align: center;
  color: #ffffff;
}

.love {
  display: inline-block;
  position: relative;
  top: .1em;
  font-size: 1.4em;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
  color: red;
}

.titlebar {
  display: none;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes love {
  to {
    -moz-transform: scale(1.5);
  }
}

@keyframes love {
  to {
    transform: scale(1.5);
  }
}

p {
  font-family: 'Cairo', sans-serif;
  font-style: italic;
  text-align: center;
  color: white;
  margin-top: 1em;
  font-size: 80%;
}

.heading {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 2em;
  padding-left: 1.5em;
  font-size: 300%;
  color: #1f4188;
}
.subheading {
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 2.3em;
  padding-top: 1.2em;
  font-size: 200%;
  color: #7e8496;
  text-align: left;
}
.card-wrapper{
  margin-left: 4.7em;
  margin-top: 2em;
  display: inline-flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.card-wrapper div{
  margin: 20px;
}

.card{
  text-decoration: none;
  background-color: white;
  height: 15em;
  width: 12em;
  border: 0.1px;
  padding: 5px;
}
.card:hover{
  background-color: #1f4188;
  color: #1f4188;
  border: none;
  padding: none;
  box-shadow: 5px 5px 5px 5px;
}
.card:hover > .tech{
  color: white;
}
.card:hover > .work{
  color: white;
}
.tech{
  padding-top: 2%;
  font-size: 17px;
  text-align: center;
}
.work{
  padding-top: 2%;
  font-size: 12px;
  text-align: center;
}

.header p a{
  color: inherit;
  border-bottom: 1.5px dotted #fff;
}
@media only screen and (max-width: 1024px) {
  body{
    overflow: hidden;
    overflow-y: scroll;
  }
  p{
    margin-top: 4px;
  }
  .header p a{
    border-bottom: 1.5px dotted #fff;
  }
  .titlebar{
    position: fixed;
    display: block;
    font-weight: 700;
    height: 10vh;
    line-height: 10vh;
    padding: 0 1em;
    width: 100%;
    z-index: 1;
    text-align: left;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }
  .header {
    position: fixed;
    right: 0px;
    top: 10vh;
    height: 90vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .material-icons {
    position: absolute;
    background-color: #1f4188;
    right: 2rem;
    height: 10vh;
  }
  .line{
    padding-top: 2px;
    width: 35px;
    height: 10px;
    background-color:white;
    margin: 6px 0;
  }

  a{
    color: inherit;
  }
  .heading {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2.5em;
    padding-left: 2em;
    font-size: 300%;
    color: #1f4188;
  }
  .subheading {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 4em;
    padding-top: 0.8em;
    font-size: 150%;
    color: #7e8496;
  }

}

.nav-active{
  transform: translateX(0%);
}


@media only screen and (max-width: 736px) {

  .heading {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 3em;
    padding-left: 1.7em;
    font-size: 200%;
    color: #1f4188;
  }
  .subheading {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 3.5em;
    padding-top: 1em;
    font-size: 100%;
    color: #7e8496;
    text-align: left;
  }
  .card{
    height: 12em;
    width: 10em;
    text-decoration: none;
  }
  .work{
    font-size: 8px;
    padding-top: 1%;
  }
}

